<!-- <head>
        <title>Added registration numbers</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
</head>

<h6>Added registration numbers</h6>
<ul>
        {{#each result}}
        <li><a href="/regNumbers">{{this.numberPlate}}</a></li>
        {{/each}}
</ul>
<p><a href="/regNumbers">Home page</a></p> -->
