<head>
        <meta charset="utf-8">
        <title>Home page</title>
        <link rel="stylesheet" href="../css/registration_numbers_webapp.css">
</head>

<body>
        <div class="container" align="center">
        <h1>Registration Number Application</h1>

        <form class="" action="/regNumbers" method="post">
                <br><br>
                <label><b>RegNumber:</b></label>
                <input type="text" name="regNum" placeholder="Please type a reg num here" required="">
                <input type="submit" name="numberPlate" value="ADD">
                <br><br>

                {{#each regNumbers}}
                        <li class="reg">{{this.numberPlate}}</li>
                {{/each}}

                {{messages.error}}
                <br><br>
        </form>
        <!-- {{regNum}} -->
</div>
</body>
